.hero {
    border: 1px solid salmon;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section {
    &__features {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        &--header {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &-title {
                max-width: 860px;

                h2 {
                    font-size: 40px
                }
            }

            &-subtitle {
                max-width: 1080px;

                p {
                    font-size: 24px;
                }
            }
        }
    }
}

.container {

    &--feature {
        width: 100vw;
        display: flex;
        justify-content: space-evenly;
    }

    &--center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.introduction {

    &-feature {
        display: flex;
        justify-content: center;
        align-items: center;
        
        &__title {
            font-size: 32px;
            margin: 0 16px;
        }
    }
}

.feature {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

    h4 {
        font-size: 32px;
        margin: 8px 0;
    }

    p {
        font-size: 24px;
        margin: 8px 0;
    }
    
    &__icon {
        height: 116px;
        width: 116px;
        fill: #E4FDE1;
    }

    &__iconBg {
        height: 200px;
        width: 200px;
        background: #54878D;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__description {
        width: 300px;
    }
}